@charset "utf-8";
/* CSS Document */
body{font-family:Tahoma, "microsoft yahei", Geneva, sans-serif;}

.pheaderlarge{display:block;}
.pheadersmall{display:none;}
@media (max-width: 1200px) {
	.pheaderlarge{display:none;}
	.pheadersmall{display:block;}
}

.pbg001{background-color:#000; padding:1ex 0;}
@media (max-width: 991px) {
	.pbg001{display:none;}
}

.pbg002{background-color:#1c75bc; margin-bottom:1.5em;}
@media (max-width: 991px) {
	.pbg002{display:none;}
}

.pbg003{background-color:#1c75bc;}
@media (max-width: 991px) {
	.pbg003{display:none;}
}

.pbg004{background-color:#f9f9f9; padding-top:1em; padding-bottom:2em;}

.pbg005{background-color:#fbf9ef; padding:4em 0;}

.pbg006{background-color:#1c75bc; padding:1ex; text-align:center;}
.pbg006 a{font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#fff; position:relative; display:inline-block;}
.pbg006 a *{vertical-align:middle;}
.pbg006 a img{margin-right:1ex;}
.pbg006 a .t1{text-decoration:underline; text-transform:uppercase;}
.pbg006 a .t2{text-transform:uppercase;}
.pbg006 a .t2:after{content:""; width:0; height:0; border:6px solid transparent; border-left-color:#fff; display:inline-block; margin-left:1ex;}
@media (max-width: 991px) {
	.pbg006{background-color:transparent;}
	.pbg006 a{display:block; background-color:#1c75bc; margin-bottom:1ex; padding:1ex 0; border-radius:2px;}
}

.ptitle01{color:#000; text-align:center; font-size:25px; font-family:Arial, "microsoft yahei", Helvetica, sans-serif; line-height:2; padding-top:20px;margin-bottom:1ex;}
.ptitle01:after{content:""; display:block; width:50px; height:1px; border-bottom:1px solid #666; margin:0 auto;}
.ptitle01a{color:#666; text-align:center; font-size:40px; font-family:Arial, "microsoft yahei", Helvetica, sans-serif; line-height:2; margin-bottom:1ex;}
@media (max-width: 991px) {
	.ptitle01{font-size:26px;}
	.ptitle01:after{display:none;}
	.ptitle01a{font-size:26px;}
}

.ptitle02{text-align:center; font-size:18px; color:#ff5e19; margin-bottom:1ex;}
.ptitle02 a{color:#ff5e19; text-decoration:none;}

.ptitle03{font-size:35px; color:#666; text-align:center; margin-bottom:.6em;}

.ptitle04{color:#fff; background-color:#1c75bc; padding:1ex 0; text-align:center;}

.ptitle05{color:#ff5e19; font-size:18px; margin-bottom:1ex;}

.ptitle06{font-weight:bold; margin-bottom:1ex;}
.ptitle06 span{color:#e60012;}

.ptitle07{color:#1c75bc; font-size:26px; font-family:Arial, "microsoft yahei", Helvetica, sans-serif; text-align:center; margin-bottom:1em;}

.ptitle08{color:#1c75bc; font-size:20px; margin-bottom:1ex;}

.pcon01{font-size:16px; color:#666; line-height:1.8;}

.pboxheader{position:relative;height:140px;margin-left:-15px; margin-right:-15px; padding:1ex 30px; border-bottom:1px solid #b8b8b8; margin-bottom:1px;}
.pboxheader .logo{float:left; width:400px;}
.pboxheader .box1{ padding-top:1em; position:absolute;top:80px;right:20px;font-family: Arial;}
.pboxheader .box2{position:absolute;right:20px; margin-top:20px;}
.pboxheader .box2 *{vertical-align:middle;}
.pboxheader .box2 .form{float:left; color:#ff5e19; font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin-top:1ex;}
.pboxheader .box2 .form .text{border:1px solid #ff5e19; width:450px; display:inline-block; border-radius:2px;}
.pboxheader .box2 .form .text input[type="text"]{border:none; outline:none; height:34px; width:350px; box-sizing:border-box; padding:0 1ex;}
.pboxheader .box2 .form .text input[type="text"]:-ms-input-placeholder{color:#ff5e19;}
.pboxheader .box2 .form .text input[type="text"]::-webkit-input-placeholder{color:#ff5e19;}
.pboxheader .box2 .form .text .mbtn{float:right; background:url(../images/ico001.png) #ff5e19 no-repeat 1ex center; color:#fff; border:none; height:34px; font-size:14px; padding-left:2em; font-weight:normal;}
.pboxheader .box2 .rbox{float:left; margin-left:2em;}
.pboxheader .box2 .rbox .rboxcon{ font-size:13px; color:#888; white-space:nowrap; float:right; padding-left:1em; text-align:right; margin-right:3em;}
.pboxheader .box2 .rbox .rboxcon .c{color:#ff5e19;}
.pboxheader .box2 .rbox .rboxcon .phone{color:#ff5e19; font-size:26px; font-weight:bold;}
.pboxheader .box2 .rbox .rboxcon .phone *{vertical-align:middle;}
.pboxheader .box2 .rbox .rboxcon .phone .glyphicon{font-size:16px; margin-right:1ex;}
.pboxheader .box3{font-size:16px;}
.pboxheader .box3 * {vertical-align:baseline;}
.pboxheader .box3 .t1{font-size:27px; color:#ff5e19; font-weight:bold;}
.pboxheader .box3 .c1{color:#ff5e19;}
.pboxheader .box4{margin-left:2em;}
.pboxheader .box4 a{color:#565656;}
.pboxheader .box4 .s{color:#e2e2e2; margin:0 .5ex;}
.pboxheader .box4 .highlight{color:#ff5e19;}
.pheaderlarge .box4 {display:block;width:200px;margin-top:-10px;}
.pheaderlarge .box4 .input-group{position: relative;margin-top:5px;}
.pheaderlarge .box4 .icon {position:absolute;top:5px;right:5px;background:url('../images/icon-search.png');z-index:99999;width:24px;height:24px;}

.pboxheader1{padding:1ex 0;}
.pboxheader1 .logo{text-align:center;}
.pboxheader1 .logo img{width:30%; max-width:100px;}
.pboxheader1 .box1{font-size:14px;}
.pboxheader1 .box1 .boxl{float:left;}
.pboxheader1 .box1 .boxl *{vertical-align:middle;}
.pboxheader1 .box1 .boxr{float:right;}
.pboxheader1 .box1 .lang{color:#565656;}
.pboxheader1 .box1 .boxl .glyphicon{font-size:22px; color:#1c75bc;}
.pboxheader1 .box1 .boxl .s{padding-right:1em; margin-right:1em; display:inline-block; border-right:1px solid #b7b7b7;}
.pboxheader1 .box1 .boxr .glyphicon{font-size:20px; background-color:#1c75bc; color:#fff; display:inline-block; padding:3px; border-radius:3px;}
.pboxheader1 .search{margin-top:1ex; height:0px; overflow:hidden;}
.pboxheader1 .search.in{height:auto;}
.pboxheader1 .search .text{display:block; border:1px solid #ff5e19;}
.pboxheader1 .search .text input[type="text"]{border:none; outline:none; height:34px; width:70%; box-sizing:border-box; padding:0 1ex;}
.pboxheader1 .search .text .mbtn{float:right; background:url(../images/ico001.png) #ff5e19 no-repeat 1ex center; color:#fff; border:none; height:34px; font-size:14px; padding-left:2em; font-weight:normal;}
.pboxheader1 .navbox{overflow:hidden; margin-top:1ex; height:0;}
.pboxheader1 .navbox.in{height:auto;}

.pboxfooter1{background-color:#ff5e19; padding:1em 0;display:none;}
@media (max-width: 991px) {
	.pboxfooter1{display:none;}
}

.pboxfooter2{background-color:#0c1720; padding:2em 0;}

.pboxfooter3{background-color:#ececec; padding:1em 0;}

.pboxfooter4{background-color:#f4f4f4; padding:2em 0;}

.pboxtours{display:none;}
.pboxtours.in{display:block;}
.pboxtours .ptitle02{display:none;}
@media (max-width: 991px) {
	.pboxtours{display:block; margin-bottom:1em;}
	/*.pboxtours > div{display:none !important;}*/
	.pboxtours .ptitle02{display:block;}
	.pboxtours > div:nth-child(1), .pboxtours > div:nth-child(2), .pboxtours > div:nth-child(3), .pboxtours > div:nth-child(4){display:block !important}
}

.pboxcitys{}
@media (max-width: 991px) {
	.pboxcitys > div{display:none;}
	.pboxcitys > div:nth-child(1),.pboxcitys > div:nth-child(2),.pboxcitys > div:nth-child(3),.pboxcitys > div:nth-child(4){display:block;}
}

.pboxshare{position:absolute; width:auto; white-space:nowrap; border:1px solid #ccc; background-color:#fff; left:0; top:140%; padding:1ex; z-index:200; display:none;}
.pboxshare.in{display:block;}

.pboxrespbanner{position:relative;}
.pboxrespbanner .img{display:block; width:100%;}
.pboxrespbanner .absbox{position:absolute; width:80%; top:20%; left:10%; background-color:rgba(0,0,0,0.6); border-radius:10px; padding:1em; font-family:Arial, "microsoft yahei", Helvetica, sans-serif;}
.pboxrespbanner .absbox.absboxa{background-color:transparent; color:#fff; font-family:Impact, Arial, "microsoft yahei"; text-shadow:0px 0px 12px rgba(0,0,0,0.65);}
.pboxrespbanner .t1{font-size:60px; color:#fff; font-weight:bold; text-align:center;}
.pboxrespbanner .t2{text-align:center; font-size:20px; color:#fff;}
.pboxrespbanner .t2 .span{font-size:2em; color:#ff5e19; font-family:Impact, Arial, "microsoft yahei", Helvetica, sans-serif;}
.pboxrespbanner .t3{text-align:center; font-size:75px;}
.pboxrespbanner .t4{text-align:center; font-size:41px;}
@media (max-width: 991px) {
	.pboxrespbanner .t1{font-size:48px;}
	.pboxrespbanner .t2{font-size:18px;}
	.pboxrespbanner .t3{font-size:65px;}
	.pboxrespbanner .t4{font-size:35px;}
}
@media (max-width: 767px) {
	.pboxrespbanner .t1{font-size:28px;}
	.pboxrespbanner .t2{font-size:14px;}
	.pboxrespbanner .t3{font-size:32px;}
	.pboxrespbanner .t4{font-size:18px;}
}

.pboxcontent{font-family:Arial, Helvetica, sans-serif; color:#000;}

.pboxcontent1{padding:1em;}
@media (max-width: 991px) {
	.pboxcontent{padding:1em 0;}
}
.pboxcontent2{}
.pboxcontent2 a{color:#ff5e19;}

.pboxsep01{background-color:#1c75bc; height:5px; margin-bottom:1em;}
.pboxsep02{background-color:#ff5e19; height:1px; margin:2em 0;}

.pboxpager{border-top:1px solid #f2f2f2; padding-top:1ex; text-align:right; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:24px;}
.pboxpager.pboxpagera{border-top-width:0;}
.pboxpager *{vertical-align:middle;}
.pboxpager a{color:#000; margin:0 3px;}
.pboxpager .current{color:#ff5e19;}
.pboxpager .arrow{display:inline-block; background-color:#1c75bc; color:#fff; height:24px; width:24px; text-align:center;}
@media (max-width: 991px) {
	.pboxpager{text-align:left;}
}

.pbox01{}
.pbox01 .item{width:20%; float:left; box-sizing:border-box; padding:0 3px; position:relative;}
.pbox01 .item .img{display:block; width:100%;}
.pbox01 .item .abs{position:absolute; width:100%; height:60%; bottom:0; left:0;background-image:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgb(0,0,0) 100%);}
.pbox01 .item .abs1{position:absolute; color:#fff; font-size:14px; font-family:Arial, Helvetica, sans-serif; left:1em; bottom:1em;}

.pbox02{border-bottom:1px solid #e2e2e2; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:18px; line-height:2; margin-bottom:1em;}
.pbox02 a{color:#1c75bc; text-decoration:none; display:inline-block; padding-left:3em; padding-right:3em; margin-bottom:-1px; position:relative;}
.pbox02 a.current{color:#ff5e19; border-bottom:1px solid #ff5e19;}
.pbox02 a.current:after{content:""; position:absolute; width:6px; height:6px; border:1px solid #ff5e19; transform:rotate(45deg); background-color:#fff; border-right-width:0; border-bottom-width:0; bottom:-3px; left:50%;}
@media (max-width: 991px) {
	/*.pbox02{display:none;}*/
}

.pbox03{margin-bottom:1em;}
.pbox03 .link{display:block; position:relative;}
.pbox03 .img{display:block; width:100%;}
.pbox03 .abs{width:100%; left:0; bottom:0; position:absolute; font-size:16px; color:#fff; padding:1ex;}
.pbox03 .mb{position:absolute; width:100%; height:100%; background-color:rgba(0,0,0,0); left:0; top:0; transition:all 200ms linear 0s;}
.pbox03 .link:hover .mb{background-color:rgba(0,0,0,0.55);}
.pbox03 .box{display:none; text-align:center;}
.pbox03.pbox03a .abs{text-align:center;}
@media (max-width: 991px) {
	.pbox03 .box{display:block; margin-top:1ex; margin-bottom:1em;}
}

.pbox04{}
.pbox04 .boxlink{text-align:right;}

.pbox05{color:#fff;}
.pbox05 .boxl{float:left;}
.pbox05 .boxr{float:right; margin-top:2em;}
.pbox05 .t1{font-size:26px;}
.pbox05 .t2{font-size:14px;}
.pbox05 label{font-weight:normal;}
.pbox05 .text{border:1px solid #fff; background-color:transparent;}
.pbox05 .mbtn{border:none; background-color:#fff; color:#ff5e19; font-weight:bold;}

.pbox06{color:#fff; /*border-left:1px solid #2e2e2e; height:108px;*/font-family: Arial; padding-left:1em; padding-top:1ex;}
.pbox06.pbox06a{border-left-width:0;}
.pbox06 .t1{font-size:16px; margin-bottom:1em;}
.pbox06 a{color:#fff;}
@media (max-width: 320px) {
	.pbox06{border-left-width:0; height:auto; margin-bottom:1em; padding-left:0; margin-right: 140px;}
}


.pbox07{text-align:center; position:relative; margin-left:-15px; margin-right:-15px;}
.pbox07:after{content:""; width:100%; height:0; left:0; top:50%; border-bottom:1px solid #cacaca; position:absolute;}
.pbox07 > span{background-color:#ececec; position:relative; z-index:1; padding:0 1em;}
.pbox07 a{margin:0 1ex;}
@media (max-width: 991px) {
	.pbox07{display:none;}
}

.pbox08{color:#818181; padding:1ex 1em; border-left:1px solid #cacaca;}
.pbox08.pbox08a{border-left-width:0;}
.pbox08 .t1{ margin-bottom:1em;}
.pbox08 .imgs img{margin-right:1ex;}
@media (max-width: 991px) {
	.pbox08{border-left-width:0;}
}

.pbox09{text-align:center; color:#737373; font-size:12px; line-height:2;}
.pbox09 p{margin:0;}
.pbox09 a{color:#737373; text-decoration:underline;}

.pbox10{position:relative;}
.pbox10 .img{width:100%; display:block; margin-bottom:1ex;}
.pbox10 .mb{position:absolute; width:100%; height:100%; background-color:rgba(0,0,0,0); left:0; top:0; transition:all 200ms linear 0s;}
.pbox10 .link:hover .mb{background-color:rgba(0,0,0,0.55);}
.pbox10 .box{position:absolute; background-color:rgba(0,0,0,0.55);transition:all 200ms linear 0s;width:100%; left:0; bottom:0; line-height:2; font-family:Arial, Helvetica, sans-serif; font-size:16px; text-align:center; color:#fff; opacity:1; transition:all 200ms linear 0s;}
.pbox10:hover .box{opacity:1;}
@media (max-width: 991px) {
	.pbox10 .box{color:#000; position:static; margin-bottom:1em; opacity:1;}
}

.pbox11{line-height:48px;}
.pbox11 .boxl{float:left; border-right:1px solid #fff;}
.pbox11 a{color:#fff; font-family:Arial, Helvetica, sans-serif; padding:0 2em;}

.pbox12{background-color:#f9f9f9; padding:1em; margin-bottom:1em; font-family:Arial, Helvetica, sans-serif;}
.pbox12 .t1{font-weight:bold; color:#1c75bc; border-bottom:1px solid #e8e8e8; padding-bottom:1ex; margin-bottom:1em;}
.pbox12 .t2{color:#767676;}
.pbox12 .mlabel{font-weight:normal; display:inline-block; width:5ex;}
.pbox12 .text{border:1px solid #d7d9d9; width:160px;}
.pbox12 .mbtns{}
.pbox12 .mbtn1{font-style:italic; color:#ff5e19; text-decoration:underline; font-size:12px;}

.pbox13{font-size:12px; font-family:Arial, Helvetica, sans-serif;margin-bottom:1em;}
.pbox13 a{color:#0b48e3;}
@media (max-width: 991px) {
	.pbox13{margin-left:-15px; margin-right:-15px; background-color:#1c75bc; color:#fff; line-height:3; padding:0 15px;}
	.pbox13 a{color:#fff;}
}

.pbox14{background-color:#f9f9f9; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:18px; margin-bottom:1em;}
@media (max-width: 991px) {
	.pbox14{background-color:transparent;}
}

.pbox15{font-size:12px; border-bottom:1px solid #f2f2f2; line-height:2; padding-bottom:1ex; margin-bottom:1em;}
.pbox15 .boxr{float:right; color:#6b6b6b; }
.pbox15 .boxr select{border:1px solid #ff5e19; border-radius:2px; padding:3px;}
@media (max-width: 991px) {
	.pbox15{margin-left:0; margin-right:0; border-bottom-width:0;}
	.pbox15 .boxr{float:none;}
}

.pbox16{margin-bottom:3em;}
.pbox16 .cover{display:block;width:100%; margin-bottom:1ex;}
.pbox16 .t1{font-size:16px; color:#1c75bc; font-weight:bold; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.pbox16 .t1 a{color:#1c75bc;}
.pbox16 .tprice{margin-bottom:1ex;}
.pbox16 .tprice *{vertical-align:baseline;}
.pbox16 .tprice .tprice-1{font-size:12px; color:#ff5e19;}
.pbox16 .tprice .tprice-2{font-size:22px; color:#ff5e19;}
.pbox16 .t2{font-size:12px; margin-bottom:1em;}
.pbox16 .t3{font-size:12px;}
.pbox16 .t3 strong{color:#1c75bc; margin-bottom:1ex;}
.pbox16 .t4{color:#666; font-size:12px; margin-bottom:1ex;}
.pbox16 .t4 .i{color:#f2a313; margin-right:.5ex;}
.pbox16 .t5{color:#f2a313; font-size:12px; margin-bottom:1ex;}
.pbox16 .mbtns{}
.pbox16 .mbtns a{margin-bottom:1ex;}

.pbox17{margin-bottom:2em;}
.pbox17.pbox17a{}
.pbox17 .cover{float:left; width:45%; margin-right:2em;}
.pbox17.pbox17a .cover{float:right; margin-right:0; margin-left:2em;}
.pbox17 .box{overflow:hidden; padding-top:2em;}
.pbox17 .no{width:97px; height:97px; background:url(../images/bg001.png) no-repeat 0 0; line-height:97px; text-align:center; font-size:50px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#fff; float:left; margin-right:1ex;}
.pbox17 .boxcon{overflow:hidden;}
.pbox17 .t1{font-size:20px; color:#1c75bc;}
.pbox17 .t1 a{color:#1c75bc; text-decoration:underline;}
.pbox17 .t2{font-size:12px; color:#f2a313; margin-bottom:1em;}
.pbox17 .t3{font-size:16px; color:#666; margin-bottom:1em;}
.pbox17 .mbtns{}
@media (max-width: 991px) {
	.pbox17 .cover{margin:0 1em; display:block; float:none; width:100%;}
	.pbox17.pbox17a .cover{float:none; margin:0 1em;}
	.pbox17 .no{width:50px; height:50px; background-size:100% 100%; line-height:50px; font-size:25px;}
	.pbox17 .t1{font-size:16px;}
}

.pbox18{position:relative; margin-bottom:4em;}
.pbox18 .abs{position:absolute; width:56px; height:56px; background:url(../images/bg001.png) no-repeat center center; background-size:100% 100%; font-size:27px; text-align:center; line-height:56px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#fff; left:-27px; top:-27px;}
.pbox18 .cover{display:block; width:100%; margin-bottom:1em;}
.pbox18 .t1{font-size:16px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; margin-bottom:1ex;}
.pbox18 .t1 a{color:#1c75bc; text-decoration:underline;}
.pbox18 .t2{font-size:12px; color:#f2a313; margin-bottom:1em;}
.pbox18 .t3{font-size:12px; color:#000; margin-bottom:2em;}
.pbox18 .mbtns{}
@media (max-width: 991px) {
	.pbox18 .abs{left:0;}
}

.pbox19{border:1px solid #dfdfdf; padding:1ex 1em; line-height:2;}
.pbox19 .t1{ color:#ff5e19; margin:0;}
.pbox19 .t1 em{color:#66667c;}

.pbox20{}
.pbox20 .cover{float:left; border:1px solid #dfdfdf; width:265px; margin-right:1em;}
.pbox20 .con{overflow:hidden; color:#1c75bc; font-size:15px;}
.pbox20 .con strong{font-size:18px; color:#b11116; font-weight:normal;}
@media (max-width: 991px) {
	.pbox20 .cover{float:none; display:block; margin-right:0; margin-bottom:1ex;}
}

.pbox21{text-align:center;font-size:30px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding:1em 0;}
.pbox21 a{color:#fff; background-color:#ff5e19; display:inline-block; padding:1ex 1em; border-radius:4px;}
@media (max-width: 991px) {
	.pbox21{font-size:22px;}
}

.pbox22{border-bottom:1px solid #e2e2e2; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:18px; line-height:2; margin-bottom:1em;}
.pbox22 a{color:#1c75bc; text-decoration:none; display:inline-block; padding-left:1em; padding-right:1em; margin-bottom:-1px; position:relative;}
.pbox22 a.current{color:#ff5e19; border-bottom:1px solid #ff5e19;}
.pbox22 a.current:after{content:""; position:absolute; width:6px; height:6px; border:1px solid #ff5e19; transform:rotate(45deg); background-color:#fff; border-right-width:0; border-bottom-width:0; bottom:-3px; left:50%;}
@media (max-width: 991px) {
	.pbox22 a{display:block; border:1px solid #e7e7e7; background-color:#f7f7f7; margin-bottom:1ex;}
	.pbox22 a.current{border-bottom:inherit;}
	.pbox22 a.current:after{display:none;}
}

.pbox23{display:none;}
.pbox23.in{display:block;}

.pbox24{text-align:center; position:relative; color:#ff5e19; font-size:18px; padding:1ex 0; margin-bottom:1em;}
.pbox24 span{text-transform:uppercase; padding:0 1ex; background-color:#fff; position:relative; z-index:1;}
.pbox24:after{content:""; width:100%; height:0; border-bottom:1px solid #b6b6b6; top:50%; left:0; position:absolute;}

.pbox25{background-color:#f6f6f6; padding:1em; border-top:1px solid #b6b6b6; margin-bottom:1em;}
.pbox25 .cover{float:left; margin-right:1em;}
.pbox25 .con{overflow:hidden;}
.pbox25 .t1{font-size:18px; color:#b11116;}
.pbox25 .t1 a{color:#b11116;}
.pbox25 .t1 a span{font-size:22px; color:#ed742c;}
.pbox25 .t2{color:#1c75bc; margin-bottom:0;}
.pbox25 .t3{color:#000;}
@media (max-width: 991px) {
	.pbox25{padding:1em 0;}
	.pbox25 .cover{float:none; display:block; margin-right:0; margin-bottom:1ex;}
}

.pbox26{-webkit-column-count:4; -moz-column-count:4; column-count:4; margin-bottom:1em; border:1px solid #dfdfdf; padding:1ex;}
.pbox26 a{color:#ff5e19; text-decoration:underline;}
@media (max-width: 991px) {
	.pbox26{-webkit-column-count:auto; -moz-column-count:auto; column-count:auto;}
}

.pbox27{background-color:#f4f4f4; padding:1em; font-family:Arial, Helvetica, sans-serif; color:#000; margin-bottom:2em;}
.pbox27.pbox27a{background-color:transparent;}
.pbox27 label{position:relative;}
.pbox27 .label1{margin-right:2em; font-weight:normal;}
.pbox27 .label2{}
.pbox27 .label3{display:inline-block; width:17ex;}
.pbox27 .label3.label3a{width:23ex;}
.pbox27 .label3.label3b{width:20ex;}
.pbox27 .label3.label3c{width:208px;font-size:17px;color: #ff5e19;}
.pbox27 .label3.label3d{width:139px;}
.pbox27 .label3.label3e{width:110px;}
.pbox27 .label3.label3f{width:500px;color: #ff5e19;}
.pbox27 .label3.label3g{width:500px;font-size:17px;color: #ff5e19;}
.pbox27 .label4{display:inline-block; width:11ex; margin-left:1em;}
.pbox27 .label5{margin-left:1em;}
.pbox27 .label6{color:#aaa; font-style:italic; font-size:16px; margin-right:1ex;}
.pbox27 .label7{color:#565656; font-weight:normal;}
.pbox27 .relative{position:relative; display:inline-block;}
.pbox27 label.error{color:red;position:absolute; left:0; top:110%; white-space:nowrap; border:1px solid red; padding:1ex; background-color:#fff; border-radius:5px; max-width:none; z-index:100;}
.pbox27 .req{color:#e60012;}
.pbox27 .text{border:1px solid #e3e3e3; height:30px; padding:0 1ex;}
.pbox27 .textarea{border:1px solid #e3e3e3; padding:0 1ex; width:100%; box-sizing:border-box;}
.pbox27 .text1{width:430px;}
.pbox27 .text2{width:230px;}
.pbox27 .text3{width:464px;}
.pbox27 .text4{width:400px;}
.pbox27 .text5{width:60px;}
.pbox27 .text6{width:956px;}
.pbox27 .text7{width:751px;}
.pbox27 .text8{width:821px;}
.pbox27 .text9{width:350px;}
.pbox27 .select{border:1px solid #e3e3e3; padding:0 1ex; margin:0; height:30px;}
.pbox27 .in{margin-bottom:1em;}
.pbox27 .box{border:1px solid #e3e3e3; padding:1em; height:150px; overflow:auto; background-color:#fff; margin-bottom:1ex;}
.pbox27 .t1{font-size:16px; margin-bottom:0;}
.pbox27 .t2{margin-bottom:0;}
.pbox27 .t3{font-size:14px;}
.pbox27 .t3 .price{color:#c7000b; font-size:18px;}
.pbox27 .t4{}
.pbox27 .t4 strong{display:inline-block; width:19ex;}
.pbox27 .t5{}
.pbox27 .t5 strong{display:inline-block; width:25ex;}
.pbox27 .t5 .s1{display:inline-block; width:50ex;}
.pbox27 .box2{line-height:2;}
.pbox27 .l{float:left; width:50%;}
.pbox27 .ll{float:left; width:45%;}
.pbox27 .tj{}
.pbox27 .tj strong{margin-right:2em;}
.pbox27 .tj .s1{color:#2f98f0; font-style:italic;}
.pbox27 .tj .s2{color:#fc6900; font-size:20px; font-weight:bold; font-family:Tahoma, Geneva, sans-serif;}

.pbox27ll{text-align: center;}
.pbox27ll .l{float:none; width:100%;}
.pbox27ll .label3{text-align: left;}
.pbox27ll .forgetm{margin-left: 124px;color:#000;}
.pbox27ll .loginn{margin-right: 130px;}
.pbox27ll .registerr{color:#ff5e19;font-size:16px; text-decoration:#ff5e19;}

.pbox28{margin-bottom:2em;}
.pbox28 .t1{font-size:40px; color:#666; margin-bottom:1em;}
.pbox28 .t1 *{vertical-align:middle;}
.pbox28 .t2{color:#ff5e19; font-size:40px; margin-bottom:1em;}

.pbox29{font-family:Arial, "microsoft yahei"; margin-bottom:2em;}
.pbox29 .t1{font-size:18px; color:#ff5e19; margin-bottom:1em;}
.pbox29 .t2{color:#344a74; font-size:16px;}
.pbox29 a{color:#1c75bc; text-decoration:underline;}
.pbox29 .box1{background-color:#f4f4f4; padding:1em; margin-bottom:1em;}

.pbox30{background-color:#f4f4f4; padding:2em 1em;}
.pbox30 .req{color:#e60012;}
.pbox30 .text{border:1px solid #e3e3e3; height:30px; padding:0 1ex; margin:0;}
.pbox30 .textarea{border:1px solid #e3e3e3; padding:0 1ex; margin:0;}
.pbox30 .text1{width:40%;}
.pbox30 .text2{width:80%;}
.pbox30 .label1{font-weight:normal; display:inline-block; width:10ex; vertical-align:top;}
.pbox30 .in{margin-bottom:1em;}
.pbox30 .relative{display:inline-block; position:relative; width:100%;}
.pbox30 label.error{color:red;position:absolute; left:0; top:110%; white-space:nowrap; border:1px solid red; padding:1ex; background-color:#fff; border-radius:5px; max-width:none; z-index:100;}
@media (max-width: 991px) {
	.pbox30 .label1{display:block;}
	.pbox30 .text{box-sizing:border-box;}
	.pbox30 .textarea{box-sizing:border-box;}
	.pbox30 .text1{width:100%;}
	.pbox30 .text2{width:100%;}
}

.pbox31{margin-bottom:1em;}
.pbox31 .t1{color:#ff5e19;}
.pbox31 .t1 a{color:#ff5e19; text-decoration:underline;}

.pbox32{margin-bottom:1em; padding-bottom:1em;}
.pbox32 .cover{display:block; position:relative; margin-bottom:1ex;}
.pbox32 .cover img{display:block; width:100%; min-height:3em;}
.pbox32 .cover:after{ content:""; position:absolute; width:100%; height:100%; left:0; top:0; background:url(../images/icoplay.png) no-repeat center center;}
.pbox32 .t1{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

.pbox33{}
.pbox33 img{display:block; width:100%;}

.pbox34{font-family:Arial, "microsoft yahei", Helvetica, sans-serif; margin-bottom:2em;}
.pbox34 .t1{color:#ff5e19; font-size:18px; line-height:1.5em; padding:0 1rem;}
.pbox34 .t1 .r{float:right; color:#565656; font-size:14px;}
.pbox34 .con{background-color:#f4f4f4; padding:1em;}
.pbox34 .con p{margin-bottom:1em;}

.pbox35{margin-bottom:1em; font-family:Arial, "microsoft yahei";}
.pbox35 .cover{display:block; position:relative; margin-bottom:1ex;}
.pbox35 .cover:after{content:""; position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/icoplay.png) no-repeat center center;}
.pbox35 .cover img{display:block; width:100%;}
.pbox35 .t1{color:#000;}
/*.pbox35 .t1{color:#1c75bc; font-style:italic; margin-bottom:0; font-size:16px; font-weight:bold;}
.pbox35 .t2{color:#565656; margin-bottom:1em;}
.pbox35 .t3{color:#000;}
.pbox35 .t3 .more{color:#1c75bc; text-decoration:underline; font-style:italic;}*/

.pbox36{background-color:#2e292a1c; padding:2em 1em; margin-bottom:4px;}
.pbox36.pbox36a{background-color:#fbf6db;}
.pbox36 .boxl{float:left; width:48%; margin-right:2%;}
.pbox36 .cover{display:block; position:relative;}
.pbox36 .cover .img{display:block; width:100%;}
.pbox36 .cover .abs{position:absolute; top:2em; left:2em; border-radius:6px; overflow:hidden; font-family:Arial, "microsoft yahei";}
.pbox36 .cover .abs .t1{background-color:#1c75bc; color:#fff; font-size:12px; text-align:center; display:block; padding:0 1em; line-height:2;}
.pbox36 .cover .abs .t2{background-color:#ff5e19; color:#fff; display:block; line-height:1.6; text-align:center; font-size:12px;}
.pbox36 .cover .abs .t2 .n{font-size:35px;}
.pbox36 .boxcon{overflow:hidden; font-family:Arial, "microsoft yahei";}
.pbox36 .boxcon .t1{color:#1c75bc; font-size:25px; font-weight:bold; line-height:1; margin-bottom:1em;}
.pbox36 .boxcon .t2{color:#ff5e19; margin-bottom:1.5em;}
.pbox36 .boxcon .t3{font-size:16px; margin-bottom:4em;}
.pbox36 .boxcon .mbtns{text-align:right;}
@media (max-width: 991px) {
	.pbox36 .boxl{float:none; width:auto; margin-right:0; margin-bottom:1em;}
	.pbox36 .boxcon .t1{margin-bottom:1ex;}
	.pbox36 .boxcon .t3{margin-bottom:2em;}
}

.pbox37{margin-bottom:1em; font-family:Arial, "microsoft yahei";}
.pbox37 .t1{color:#1c75bc; margin-bottom:0; font-size:22px; font-weight:bold;}
.pbox37 .t2{color:#565656; margin-bottom:1em; font-size:16px;}
.pbox37 .t3{color:#000;}
.pbox37 .t3 .more{color:#1c75bc; text-decoration:underline; font-style:italic;}

.pbox38{font-family:Arial, "microsoft yahei";}
.pbox38 .t1{font-size:18px; color:#ff5e19;}
.pbox38 .t2{padding-left:1.3em; position:relative; color:#6b6b6b;}
.pbox38 .t2 span{color:#ff5e19; position:absolute; left:0;}

.pbox39{}
.pbox39 .t1{color:#ff5e19; font-size:40px; margin-bottom:0;}
.pbox39 .t2{color:#ff5e19; font-size:26px; margin-bottom:1.5em;}
.pbox39 .t3{color:#000;}
.pbox39 .t4{font-size:16px; color:#0467c4; margin-bottom:1.5em;}
.pbox39 .t4 .or{color:#616161; margin:0 1em;}
.pbox39 .t5{font-size:18px; color:#ff5e19; font-style:italic;margin-bottom:1.5em;}

.pul01{list-style-type:none; font-size:16px; color:#1c75bc; padding:0; margin:0 0; line-height:2;}
.pul01 > li{float:left;border-left:1px solid #e5e5e5;width: 140px;text-align: center;}
.pul01 > li:first-child{border-left-width:0;}
.pul01 > li:last-child{padding-right:0;}
.pul01 > li > a{display:inline-block; color:#1c75bc; font-weight:bold;width: 100%}

.pul02{list-style-type:none; font-size:17px; color:#1c75bc; padding:0; margin:0; line-height:2;}
.pul02 li a{display:inline-block; color:#1c75bc; font-weight:bold;}
@media (max-width: 991px) {
	.pul02{background-color:#1c75bc; text-align:center;}
	.pul02 li{padding:1ex 0; border-top:1px solid #5c6f92;}
	.pul02 li:first-child{border-top-width:0;}
	.pul02 li a{color:#fff;}
}

.pul03{list-style-type:none; padding:0; margin:0; line-height:2;}

.pul04{list-style-type:none; padding:0; margin:0; line-height:2;}
.pul04 li{min-width:50%; float:left;}
.pul04 li.current{color:#ff5e19;}
.pul04 li *{vertical-align:middle;}
.pul04 label{font-weight:normal;}

.pul05{list-style-type:none; padding:0; margin:0;}
.pul05 li{padding:1em 0; border-top:1px solid #ccc;}
.pul05 li:first-child{border-top-width:0;}
.pul05 .cover{float:left; margin-right:2em;}
.pul05 .con{overflow:hidden;}
.pul05 .t1{margin-bottom:1ex;}
.pul05 .t1 .s1{display:inline-block; background-color:#ff5e19; color:#fff; padding:0 1ex; margin-right:1ex;}
.pul05 .t1 a{color:#ff5e19; font-size:18px;}
.pul05 .t2{margin-bottom:1ex;}
.pul05 .t2 a{color:#0467c4; text-decoration:underline;}
.pul05 .t3{color:#000;}
@media (max-width: 991px) {
	.pul05 .cover{display:block; float:none; margin-right:0; margin-bottom:1ex; max-width:100%;}
}

.pul06{list-style-type:none; padding:0; margin:0;}
.pul06 li{padding:1em 0; border-top:1px solid #ccc;}
.pul06 li:first-child{border-top-width:0;}
.pul06 .cover{float:right; margin-left:2em;}
.pul06 .cover img{float:left; margin-left:1em;}
.pul06 .cover img:first-child{margin-left:0;}
.pul06 .con{overflow:hidden; color:#000;}
.pul06 .con em{color:#ff5e19; font-size:16px;}
@media (max-width: 991px) {
	.pul06 .cover{display:none;}
}

.pul07{list-style-type:none; padding:0; margin:0; font-size:20px;}
.pul07 li{width:25%; float:left; padding:1ex 0;}
.pul07 li a{color:#1c75bc;}
.pul07 li a:hover{color:#ff5e19;}
@media (max-width: 991px) {
	.pul07{font-size:14px;}
	.pul07 li{float:none;}
}

.pul08{list-style-type:none; padding:0; margin:0 0 1em; font-family:Arial, Helvetica, sans-serif;}
.pul08 li{margin-bottom:1.6em;}
.pul08 .cover{float:left; margin-right:1em; position:relative;}
.pul08 .cover .abs{position:absolute; width:100%; left:0; bottom:0; background-color:#000; color:#fff; box-sizing:border-box; padding:0 1ex; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.pul08 a{font-size:16px; text-decoration:underline; color:#1c75bc;}
.pul08 .con{overflow:hidden; color:#000;}
@media (max-width: 991px) {
	.pul08 .cover{margin-right:0; margin-bottom:1ex;}
	.pul08 .cover img{display:block; max-width:100%;}
	.pul08 .con{clear:both;}
}

.pul09{list-style-type:none; margin:0; padding:0; font-family:Arial, "microsoft yahei", Helvetica, sans-serif;}
.pul09 li{border-top:1px dotted #dfdfdf; padding:1ex 0;}
.pul09 li:first-child{border-top-width:0; padding-top:0;}
.pul09 .t1{color:#1c75bc; font-size:16px; line-height:1.5em;}
.pul09 .t1 .r{float:right; color:#565656; font-size:14px;}
.pul09 .t2{color:#000; margin-bottom:0;}
.pul09 .t3 a{color:#1c75bc; font-style:italic; text-decoration:underline;}

.pul10{list-style-type:none; margin:0; padding:0; font-family:Tahoma, "microsoft yahei"; line-height:1.8; color:#565656;}
.pul10 li{float:left; width:33.3333333333333333%;}
@media (max-width: 991px) {
	.pul10 li{width:50%;}
}
@media (max-width: 767px) {
	.pul10 li{width:auto; float:none;}
}
.pulnav01{width:100%; margin:0; padding:0; font-family:Tahoma, "microsoft yahei"; list-style-type:none;}
.pulnav01 li{display:table-cell; width:1%;}
.pulnav01 li a{display:block; padding:1ex 0; color:#565656; font-size:15px;}
.pulnav01 li a *{vertical-align:middle;}
.pulnav01 li a .glyphicon{color:#ff5e19; font-size:13px;}
.pulnav01 li a.current{background-color:#ff5e19; color:#fff;}
.pulnav01 li a.current .glyphicon{color:#fff;}
@media (max-width: 991px) {
	.pulnav01 li{display:block; width:auto;}
	.pulnav01 li a{background-color:#f7f7f7;}
	.pulnav01 li a .glyphicon{display:none;}
}

.pimg01{display:block; width:100%;}
.pimg02{display:block; width:100%; margin-left:-15px; margin-right:-15px; margin-bottom:1ex;}

.pbtn01{font-size:12px; display:inline-block; color:#fff; background-color:#1c75bc; padding:5px 1em; text-decoration:none; font-family:Arial, Helvetica, sans-serif; border:none; border-radius:2px;}
.pbtn01:hover{color:#fff; text-decoration:none;}

.pbtn02{font-size:12px; display:inline-block; color:#fff; background-color:#ff5e19; padding:5px 1em; text-decoration:none; font-family:Arial, Helvetica, sans-serif; border:none; border-radius:2px;}
.pbtn02:hover{color:#fff; text-decoration:none;}

.psep01{border:none; border-top:2px solid #b6b6b6; margin:1em 0 2px;}
.psep02{border:none; border-top:1px dotted #ddd; margin:1em 0;}
.psep03{border:none; border-top:1px solid #fc6900; margin:1em 0;}
.psep04{border:none; border-top:1px solid #dedede; margin:1em 0;}

.ptable01{width:100%; border-collapse:collapse; background-color:#f5f5f5; text-align:center;}
.ptable01 th, .ptable01 td{text-align:center; border:1px solid #fff; vertical-align:middle; padding:1ex;}
.ptable01 th{color:#fff; background-color:#1c75bc;}
.ptable01 th.th1{background-color:#ff5e19;}
.ptable01 th.foot{background-color:transparent; color:#0467c4;}
.ptable01 .mbtn{display:inline-block; border:1px solid #416da7; padding:0;}
.ptable01 .mbtn a{border-top:1px solid #bee2f9; display:inline-block; padding:3px 2em; color:#fff;background-image:linear-gradient(180deg,rgb(70,140,207) 0%,rgb(98,183,237) 100%);}
.ptable01 .mbtn a:hover{text-decoration:none; color:#fff;}
.ptable01 .mbtn span{border-top:1px solid #bee2f9; display:inline-block; padding:3px 2em; color:#fff;background-image:linear-gradient(180deg,rgb(112,112,119) 0%,rgb(114,114,154) 100%);
}
.ptable01 .em1{color:#6d6d6d;}
@media (max-width: 991px) {
	.ptable01 .mbtn a,.ptable01 .mbtn span{padding:3px;}
}

.ptable02{width:100%; border:1px solid #ccc;}
.ptable02 td, .ptable02 th{padding:1ex;}

.pmore{margin-bottom:2em;}
.pmore a{color:#1c75bc; text-decoration:underline;}

.pbox08{position:relative; float:right;}
.pbox08 .box{position:fixed; top:140px; margin-left:0; z-index:1000;margin-left:10px;font-size:14px;}
.pbox08 .boxuser{top:0;width:204px;height:437px; background:url(../images/sales.jpg);  }
.pbox08 .boxuser .close{position:absolute;right: 15px;top: 95px; font-size:20px; color:#000; text-decoration:none;}
.pbox08 .pbox08con{    position: absolute;    top: 197px;    left: 30px;width:150px;}
@media (max-width: 992px){       
	.pbox08{display:none;}
}
@media (max-width: 1548px){
        .pbox08 .box{right:10px;}
}
#emaildiv{color:red;}

/*Nexus Holiday*/
.line-itinerary {}
.line-itinerary .line-it-ti{padding:20px 15px; font-size:16px; font-weight:bold; color:#1c75bc;clear:both;}
.line-itinerary .line-it-des {padding:0px 15px; font-size:15px; color:#666;margin-bottom:20px;}

.nexus-h2 {
	font-size: 22px;
	color: #1c75bc;
}
.dropdown:hover .menu-top {
	display: block;
}

.dropdown-submenu{
	position:relative;
}

.dropdown-submenu > .dropdown-menu{
	top:0;
	left:100%;
	margin-top:-6px;
	margin-left:-1px;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
	display:block;
}

.dropdown-submenu > a:after{
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#cccccc;
	margin-top:5px;
	margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
	border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
	float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
}
.pheadersmall .pul02 {
	text-align: left;
	padding-left:10px;
	padding-right:10px;
}
.pheadersmall .dropdown-menu {
	position:relative;
	width:100%;
	background: #1c75bc;
}
.pheadersmall .dropdown-submenu:hover > .dropdown-menu {
	display: none;
}
.pheadersmall .dropdown-menu > li > a:hover, .pheadersmall .dropdown-menu > li > a:focus {
	text-decoration: underline;
	color:#fff;
	background: transparent;
}
.phoneblue {position: absolute; top:-10px;right:200px;width:350px;   color: #1c75bc;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	margin: 0 0 18px 0;
	text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.79)}
.phoneblue img {width:22px;}
.nexus-orange, .pul01 > li > a.nexus-orange {color:#ff5e19;}

@media (min-width:1170px) {
	.pbox03 .img {
		max-height:227px;
	}
	.pbox10 .img {
        max-height:175px;
	}
}
@media (min-width:970px) {
	.pbox03 .img {
		max-height:185px;
	}
	.pbox10 .img {
		max-height:141px;
	}
}